.homeWrapper{
    
    h1{

    }
    .createSection{
        display: flex;
        flex-direction: column;

        :nth-child(1){
            align-self: flex-end;
        }
       
    }

    .transactionsWrapper{
        
    }
}