.transactionsContainer{
    display: flex;
    flex-direction: column;
    // gap: .5rem;

    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 1rem 1rem .5rem 1rem;
        border-bottom: 1px solid rgba(168, 167, 167, 0.5);

        .colTitle{
            h2{
                font-size: 1rem;
                font-weight: 600;
                color: rgb(50, 50, 50);
            }
            span{
                font-size: .8rem;
                color: rgba(94, 94, 94, 0.89);
            }
        }

        .lastCol{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            color: rgb(50, 50, 50);

            span{
                font-weight: 600;
                
            }

            .editIcon{
                cursor: pointer;
                background: rgba(219, 219, 219, 0.5);
                padding: .2rem;
                font-size: 1.5rem;
                border-radius: 5px;
            }
        }
    }
}