@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #282A3A;

}
